.click:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}
.center {
  margin: auto;
  margin-left: 4%;
  padding: 10px;
}
.columnGrid{
  display: grid;
  grid-template-columns: auto auto ;
  margin-top:-5px;
  width: 30%;
}
.search{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    height:39px;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: "center";
  }
  .TableDesign {
    box-shadow: 0 0 20px rgb(0 0 0 / 36%);
}
.search:focus {
    width: 100%;
  }
.custom-modal-style {
    width: 10px;
    height: 100px;
  }